<div class="container col-sm-4">
  <div class="card text-center mt-4">
    <div class="card-header">Product Details</div>
    <div class="card-body">
      <h5 class="card-title">Product Name: {{product.name}}</h5>
      <p class="card-text">Product Description: {{product.description}}</p>
      <p class="card-text">Product Price: {{product.price}}</p>
      <img src="{{product.image}}" alt="ImageNotFound" class="img-fluid" style="width: 300px; height: 300px">

    </div>
    <div>
      <a routerLink="/products" routerLinkActive="active" class="btn btn-primary m-3">Go Back To Products !</a>
      <a class="btn btn-outline-success m-2" id="addtocart" (click)="addProductToCart(product.id)">Add To Cart !</a>
    </div>
  </div>
</div>
<div class="toast" data-autohide="false">
  <div class="toast-header">
    Toast Header
  </div>
  <div class="toast-body">
    Some text inside the toast body
  </div>
</div>

