<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="this.UserServiceInstance.currentUser" class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li *ngIf="this.UserServiceInstance.currentUser" class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
      </li>
      <li *ngIf="!this.UserServiceInstance.currentUser" class="nav-item">
        <a class="nav-link btn btn-outline-success" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="this.UserServiceInstance.currentUser" class="nav-item">
        <a class="nav-link btn btn-outline-danger" (click)="UserServiceInstance.logUserOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="this.UserServiceInstance.currentUser">
  You're Logged In ! <a href="" (click)="UserServiceInstance.logUserOut()">Logout ?</a>
</div>
  <router-outlet></router-outlet>
