<app-product-search (setSearchFor)="getSearchFor($event)" [itemsFound]="itemsFound" ></app-product-search>
<div class="container">
  <div class="d-flex align-content-stretch flex-wrap m-lg-5">
    <div *ngFor="let i of products" class="card bg-light mt-3 m-lg-4" style="width: 18rem;">
      <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.description}}</p>
        <h6 class="card-title">Price(TND): {{i.price}}</h6>
        <div class="d-flex justify-content-around">
          <a routerLink="/product/{{i.id}}" routerLinkActive="active" class="btn btn-primary" >View Product</a>
          <a class="btn btn-outline-success" (click)="addProductToCart(i.id)">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
