<div class="container">
  <div class="mt-4">
    <input type="text" class="form-control" placeholder="Search By Name, Description, Price or Color..." name="searchFor" [(ngModel)]="seachFor" (keyup)="sendSearch()">
  </div>
  <p class="text-center bg-success" *ngIf="itemsFound">Number Of Items Found: {{itemsFound}}</p>
</div>
<div  class="mt-4 m-3" style="position: absolute;top: 30%">
  <div class="card" style="width: 15rem;">
    <div class="card-header">Filter</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Price: <input type="number" placeholder="Min..." name="priceMinFilter" [(ngModel)]="priceMinFilter" (keyup)="sendPriceMinFilter()">
        To: <input type="number" placeholder="Max..." name="priceMaxFilter" [(ngModel)]="priceMaxFilter" (keyup)="sendPriceMaxFilter()">
      </li>
      <li class="list-group-item">Color: <input type="text" placeholder="Desired Color..." name="colorFilter" [(ngModel)]="colorFilter" (keyup)="sendColorFilter()" (change)="sendColorFilter()"></li>
    </ul>
  </div>
</div>
