<div class="container">
  <div class="mt-4">
    <input type="text" class="form-control" placeholder="Search By Name, Description, Price or Color..." name="searchFor" [(ngModel)]="seachFor" (keyup)="sendSearch()">
  </div>
  <p class="text-center bg-success" *ngIf="itemsFound">Number Of Items Found: {{itemsFound}}</p>
</div>
<div  class="mt-4 m-3" style="position: absolute;top: 30%">
  <div class="card" style="width: 15rem;">
    <div class="card-header">Filter</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: <input type="number"> To: <input type="number"></li>
      <li class="list-group-item">Color: <input type="color"></li>
    </ul>
  </div>
</div>
